body {
    background-color: #e0e0e0;
    overflow: hidden;
  }
  span {
    overflow: hidden;
    display: block;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  .container h1 {
    font-family: "Ogg";
    font-weight: lighter;
    font-size: 100px;
    text-transform: uppercase;
  }
  
  @media (max-width: 767px) {
    .loader-wrap svg {
      width: 200vw;
      margin-left: -50vw;
    }
    .loader-wrap .loader-wrap-heading,
    .container h1 {
      font-size: 60px;
    }
  }